<h2>This is the front page</h2>

<%= Settings.front_words %>

<section id="blog" class="blog">
  <% for post in Post.all do %>
    <article id="post_#{post.id}" class="post">
      <h3><%= post.title %></h3>
      <%= markdown post.body %>
      <p class="readmore"><%= link_to 'Read More', post %></p>
    </article>
  <% end %>
</section>
