*.swp
log/*.log
tmp/
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
db/schema.rb
config/initializers/mail_settings.rb
public/system
public/assets
logfile
config/initializers/omniauth.rb
vendor/bundles/ruby

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
