<h2>Photos</h2>

<ul id="mosaic">
<% @photos.each do |photo| %>
  <li><a href="<%= photo.image.url(:medium) %>"><%= image_tag photo.image.url(:thumb), :alt => photo.title %></a></li>
<% end %>
</ul>

