<section id="posts">
<h3>Posts</h3>
<% @posts.each do |post| %>
  <article class="post">
    <h4><%= post.title %></h4>
    <%= markdown post.body %>
    <td><%= link_to 'Read More', post %></td>
  </article>
<% end %>
</section>
