@media only screen and (min-width: 320px) {
  /* Style adjustments for viewports 480px and over go here */
  #container {width: 320px; text-align: left; margin: 20px auto;}
  header h1 {float: left; margin-left: 5%; position: static; margin-top: 6px;}
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  #container {width: 480px; text-align: left; margin: 20px auto;}
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  #container {width: 768px; text-align: left; margin: 20px auto;}
  header h1 {position: absolute; float: none; margin-left: 0; display: block;}
}

@media only screen and (min-width: 1024px) {
  #container {width: 950px; text-align: left; margin: 20px auto;}
}


