$default-border-radius: 5px; 

$light-letterpress-textshadow: 0 2px 3px #fff;

$dark_boxshadow: #333 0px 2px 4px;
$light_boxshadow: #ccc 0px 2px 4px;
$under_boxshadow: #999 0px 8px 6px -6px;

body { background: #f6f1ea;  color: #444440; }
#container { position: relative; background-color: #fdfdfc; padding: 20px; @include box-sizing(border-box); border: 1px solid #aaa; }
h1, h2, h3, h4, h5, h6 {color: #999992;}

#notice { color: green; }
.field_with_errors { padding: 2px; background-color: red; display: table; }
#error_explanation { border: 2px solid red; padding: 7px; padding-bottom: 0; margin-bottom: 20px; background-color: #f0f0f0;
    h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; margin-bottom: 0px; background-color: #c00; color: #fff; }
    ul li { font-size: 12px; list-style: square; } 
}

/***** FORMS *****/
form { margin-bottom: 1em;
    .field {margin: 1em 0;
        label {font-weight: bold; font-size: 1.2em; color: #777;}
        input, textarea { width: 100%; padding: .4em .4em .2em .4em; @include box-sizing(border-box); font-size: 1.1em}
    }
}

header { background-color: #efefec; margin: 0 0 1em 0; display: block;  border-bottom: 1px solid #666; position:relative; height: 3em; @include box-shadow($under_boxshadow);
    h1 { @include text-shadow($light-letterpress-textshadow); position:absolute; top: 6px;  right: 50%; margin: 0; padding: 0; text-transform: uppercase; font-size: 2.2em;
        a { color: #bbb; text-decoration: none; 
            &:hover { color: #ddd; }
            &:visited { color: #bbb; }
        }
    }
}

header nav {float: right; margin-right: 5%;
    ul {list-style-type: none; margin: 0; padding: 0; 
        li {margin: 0; padding: 0; float: left;
            a {display: block; padding: 1em 1em 1em 1em; text-decoration: none; color: #999; 
                &:hover {background-color: #555; color: #aaa}
                &:visited {color: #999; }
            }
            ul {display: none;}
        }
    }
    .dropdown {position: relative; z-index: 200;
        ul { position:absolute; top:44px; left:0; display:none; width:150px; list-style-type:none; z-index:200; background-color: white; @include box-shadow($under_boxshadow); border: 1px solid #aaa;
            li {clear: both; float: none;}
            a {display: block; padding: 5px; text-decoration: none;}
        }
    }
    .hover {display: block !important;}
}

/****** Sign up / Sign in ******/
/*-----------------------------*/

/*** authentications ***/
.authentication { float: left; background-color: #EEE; border: solid 1px #999; padding: 5px 10px; position: relative; margin-right: 10px; @include border-radius; 
    .remove { text-decoration: none; position: absolute; top: 3px; right: 3px; color: #333; padding: 2px 4px; font-size: 10px; 
        &:hover { color: #FFF; background-color: #777; @include border-radius; }
    }
    img { float: left; }
    .provider, .uid { margin-left: 38px; margin-right: 20px; }
    .provider { font-weight: bold; }
    .uid { color: #666; font-size: 11px; }
}
.auth_provider { float: left; text-decoration: none; margin-right: 20px; text-align: center; margin-bottom: 10px; 
    .auth_provider img { display: block; }
}

/***** additional form styles *****/
form .field label {display: block;
    .field em {display: block; font-size:.9em; color: #666}
    .checkbox label, form .radio label {display: inline;}
}
