<section id="bottom_links" class="clearfix">
	<ul>
		<li class="column">
			<dl>
				<dt>Friends of the 12</dt>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
			</dl>
		</li>
		<li class="column">
			<dl>
				<dt>Hot Links</dt>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
			</dl>
		</li>
		<li class="column">
			<dl>
				<dt>Our Friends</dt>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
			</dl>
		</li>
		<li class="column">
			<dl>
				<dt>Follow Us</dt>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
			</dl>
		</li>
		<li class="column">
			<dl>
				<dt>Low-Down</dt>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
				<dd><a href="">Lorem Ipsum</a></dd>
			</dl>
		</li>
	</ul>
</section>