<footer>
	<ul>
		<li class="left"><a href="/">&copy; Tinder <%= Time.now.year %> All Right Reserved.</a></li>
		<li class="right"><a href="">Privacy Policy</a></li>
		<li class="right"><a href="">Terms and Conditions</a></li>
	</ul>
</footer>