<nav class="clearfix">
	<ul id="nav">
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li><a href="">Link</a></li>
		<li class="last-left"><a href="">Link</a></li>
		<% if user_signed_in? %>
			<li class="right">(<%= link_to current_user.display_name, user(current_user) %></li>
			<li class="right last-right"><%= link_to "Log-Out", destroy_user_session_path %></li>
		<% else %>
			<li class="right"><%= link_to "Register", new_user_registration_path %></li>
			<li class="right last-right"><%= link_to "Log-In", new_user_session_path %></li>
		<% end %>
	</ul>
</nav>